@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
.germania-one-regular {
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-naranja: #FF4719;
  --color-oscuro: #2B2B2B;
  --color-gris: #B7AAAA;
  --color-palido: #F3F3F3;
}
.container{
  background-color: var(--color-palido);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 10fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 4fr 0.5fr 2fr;
  grid-template-areas:
  "header header header header header"
  "vacio1 deco1 titulo deco2 vacio3"
  "login login login login login"
  "vacio4 deco3 vacio5 deco4 vacio6"
  "boton boton boton boton boton";
}
.header{
  grid-area: header;
  background-color: var(--color-oscuro);
}
.boton{
  grid-area: boton;
  background-color: var(--color-oscuro);
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton_submit{
  display: block;
  width: 30%;
  padding: 30px;
  background-color: var(--color-naranja);
  border: solid 0px var(--color-naranja);  
  border-radius: 30px;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-palido);
  transition: 0.3s;
  cursor: pointer;
}
.boton_submit:hover{
  background-color: var(--color-palido);
  color: var(--color-naranja);
}
.login{
  grid-area: login;
  background-color: var(--color-gris);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.login__input{
  width: 60%;
  margin-top: 30px;
  display: block;
  border-radius: 30px;
  cursor: pointer;
  padding: 20px;
  font-size: 75px;
  background-color: var(--color-palido);
  border: solid 0px var(--color-palido);
  color: var(--color-oscuro);
  outline: none;
  font-weight: bold;
}
.login__input::placeholder{
  color: var(--color-gris);
  opacity: 100;
}
.deco1{
  grid-area: deco1;
  background-color: var(--color-gris);
}
.deco2{
  grid-area: deco2;
  background-color: var(--color-gris);
}
.deco3{
  grid-area: deco3;
  background-color: var(--color-oscuro);
}
.deco4{
  grid-area: deco4;
  background-color: var(--color-oscuro);
}
.vacio4{
  grid-area: vacio4;
  background-color: var(--color-gris);
}
.vacio5{
  grid-area: vacio5;
  background-color: var(--color-gris);
}
.vacio6{
  grid-area: vacio6;
  background-color: var(--color-gris);
}
.titulo{
  grid-area: titulo;
  color: var(--color-naranja);
  font-size: 50px;
  text-align: center;
  align-content: center;
  font-family: Germania One;
  width: 100%;
}